* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  color: grey;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #4444;
}

.card p {
  margin: 20px 0;

}

.card button {
  padding: 10px 20px;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}