* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  width: 300px;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #dadada;
  padding: 2px;
  
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 5px;
  background-color: transparent;
  color: #b1b1b1;

}

.center h3 {
  font-size: 17px;
  font-weight: 600;

}

.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.center .tag {
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4 {
  font-size: 10px;
  background-color: #dadada;
  color: black;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b1b1b1ce;
  padding-top: 15px;

}

.bottom button {
background-color: black;
color: white;
padding: 5px 10px;
border-radius: 5px;
border: none;
column-width: 600;
}

.bottom h3 {
  font-size: 17px;
  
}

.bottom p {
  font-size: 10px;
  color: #8b8b8b;
}